{% if site.lang == "en" %}
  <span>by</span>
{% elsif site.lang == "fr" %}
  <span>par</span>
{% endif %}

{% for auteur in include.auteur %}
  {% assign second_last = forloop.length | minus: 1 %}
  {% if forloop.length > 2 and forloop.last == false and forloop.index != second_last %}
    {% if include.display_link and auteur.website.size > 2 %}
      <a target="_blank" href="{{ auteur.website }}">{{ auteur.name }}</a>, 
    {% else %}
      {{ auteur.name }}, 
    {% endif %}
  {% elsif forloop.length > 1 and forloop.last == true %}
    {% if include.display_link and auteur.website.size > 2 %}
      <span>&</span> 
      <a target="_blank" href="{{ auteur.website }}">{{ auteur.name }}</a>
    {% else %}
      <span>&</span> 
      {{ auteur.name }}
    {% endif %}
  {% else %}
    {% if include.display_link and auteur.website.size > 2 %}
      <a target="_blank" href="{{ auteur.website }}">{{ auteur.name }}</a>
    {% else %}
      {{ auteur.name }}
    {% endif %} 
  {% endif %}<br/>
{% endfor %}