<div class="exp-data data-display">
  <div class="opexp-data-header">
    <h2 class="number">
      {% if include.data.number > 99 %}
        {% assign displayed_number = "OPEXP" | append: include.data.number %}
      {% elsif include.data.number > 9 %}
        {% assign displayed_number = "OPEXP0" | append: include.data.number %}
      {% else %}
        {% assign displayed_number = "OPEXP00" | append: include.data.number %}
      {% endif %}
      {{ displayed_number }}  
    </h2>
    {% if include.display_nav %}
      <a class="opexp-nav" href="{{site.baseurl}}/labo">
        <img src="{{site.baseurl_root}}/assets/images/cross.svg" alt="next">
        <span class="btn-txt close dark-text rotate-20">
          {% if site.lang == "en" %}Back
          {% elsif site.lang == "fr" %}Retour
          {% endif %}
        </span>
      </a>
    {% endif %}
  </div>
  
  <h3 class="name">
    {% if site.lang == "en" and include.data.name-en.size > 2 %}
      {{include.data.name-en}}
    {% else %}
      {{include.data.name}}
    {% endif %}
  </h3>
  <h4 class="author">
    {% include data/author.html auteur=include.data.auteur display_link=include.display_link %}
  </h4>

  {% if site.lang == "en" %}
    {% assign current_lang = include.data.exp-meta-en %}
  {% elsif site.lang == "fr" %}
    {% assign current_lang = include.data.exp-meta-fr %}
  {% endif %}

  <table>
    <tr>
      <td>Date</td>
      <td>{{include.data.date-str}}</td>
    </tr>
    {% for exp-data in current_lang %}
    <tr>
      <td>{{exp-data.key}}</td>
      <td>{{exp-data.value | markdownify}}</td>
    </tr>
    {% endfor %}
  </table>

</div>