{% for section in include.data %}
  <div class="section">
    {% if site.lang == "en" and section.title-en.size > 2 %}
      <div class="title">{{ section.title-en }}</div>
    {% elsif site.lang == "en" and section.title-fr.size > 2 %}
      <div class="title">{{ section.title-fr }}</div>
    {% elsif site.lang == "fr" and section.title-fr.size > 2 %}
      <div class="title">{{ section.title-fr }}</div>
    {% endif %}

    {% if site.lang == "en" %}
      <div class="content">
        {{ section.content-en | markdownify }}
      </div>
    {% elsif site.lang == "fr" %}
      <div class="content">
        {{ section.content-fr | markdownify }}
      </div>
    {% endif %}
  </div>
{% endfor %}