---
layout: default
---

<div class="click-simu"></div>

<div class="message safari-message">
  Safari does not display this website as it should, please visit it in another browser.
</div>
<div class="message firefox-message">
  You are using firefox, if you experience sound issues, try hard refreshing the page with
  <code>shift</code> + <code>cmd/control</code> + <code>R</code>,
  if it persists please try viewing in Chrome.
</div>
<div class="skit-container">
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_0590.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_1286.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_1399.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_1417.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_1507.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_1654.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_1731.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_1845.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2107.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2115.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2165.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2230.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2278.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2284.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2354.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2357.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2373.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2471.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2472.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2476.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2479.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2482.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2486.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2494.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2496.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2540.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video src="skit-videos/100_2544.mp4" autoplay loop></video>
    </div>
  </div>
  <div class="skit-video-container">
    <div class="skit-absolute-maker">
      <span class="skit-color-bg"></span>
      <video width="100" height="75" autoplay loop>
        <source src="skit-videos/img_2272.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="skit-footer">
    <div class="skit-footer-left">
      <a href="https://objetpapier.fr/op-release/op005-skit.html">EXPERIENCE TOTALE</a>
    </div>
    <div class="skit-footer-right">
      <span class="skit-about-trigger">À propos</span>
    </div>
  </div>
</div>

<div class="skit-about">
  <span class="skit-about-fr">
    Résultat de deux ans de travail à travers le continent Européen, SKIT, interlude cathartique produit dans l’urgence de l’expression, livre un hommage critique à l’Union perdue. Reflet du mouvement possible, SKIT puise dans toutes les formes de la culture DIY pour livrer le portrait d’une génération tiraillée entre la célébration et l’abandon politique. Produit analogiquement par Ronan Deshaies puis retraité numériquement par Morgane Bartoli, l’édition papier s’accompagne d’une création vidéo orchestrée par Corentin Moussard.
  </span>

  <span class="skit-about-fr">
    <i>SKIT is the result of two years of work across the european continent. Produced as urgently as a scream, it’s a cathartic skit that pays a critical homage to the lost Union. This work is a reflection of freedom of movement inspired by all the DIY culture. It talks about a generation that doesn’t want to chose between party and political gloom. This is an analog work by Ronan Deshaies that is digitally reprocessed by Morgane Bartoli. It goes with a video creation synchronized by Corentin Moussard.</i>
  </span>

  <span><p class="skit-about-trigger">Fermer</p></span>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  var is_chrome = !!window.chrome && !is_opera;
  var is_explorer= typeof document !== 'undefined' && !!document.documentMode && !isEdge;
  var is_firefox = typeof window.InstallTrigger !== 'undefined';
  var is_safari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
  var is_opera = !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

  if (is_safari) {
    $("video").each(function () {
       $(this).data("src", this.src);
       this.src = "";
    });
    $(".skit-container").addClass("hidden");
    $(".safari-message").addClass("active");
  }

  if (is_firefox) {
    $(".firefox-message").addClass("active");
  }

  $(".skit-about-trigger").click(function(){
    $(".skit-about").toggleClass("active");
  });


  $.fn.simulateClick = function() {
    return this.each(function() {
        if('createEvent' in document) {
            var doc = this.ownerDocument,
                evt = doc.createEvent('MouseEvents');
            evt.initMouseEvent('click', true, true, doc.defaultView, 1, 0, 0, 0, 0, false, false, false, false, 0, null);
            this.dispatchEvent(evt);
        } else {
            this.click(); // IE
        }
    });
  }
  $('.click-simu').simulateClick(); //click simulation to prevent chrome auto pausing videos if no interactions were made



  $("video").each(function(){

    $(this).prop('muted', true);

    $(this).on("mouseenter",function(){
      $(this).prop('muted', false);
    });

    $(this).on("mouseout",function(){
      $(this).prop('muted', true);
    });
  })

  // $(document).ready(function(){
  //   var classes = ["red", "blue"];
  //
  //   $(".skit-color-bg").each(function(){
  //       $(this).addClass(classes[~~(Math.random()*classes.length)]);
  //   });
  // });

</script>
