* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: 'snap-it';
  font-weight: normal;

  @include media-query($phone) {
    font-size: 20px;
    line-height: 1.1;
  }
}

pre, code {
  font-family: 'snap-it';
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
}