<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <meta property="og:url"                content="{{ site.url }}" />
  <meta property="og:title"              content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
  <meta property="og:description"        content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
  <meta property="og:image"              content="{% if page.cover-image %}{{ site.url }}/assets/uploads/{{ page.cover-image }}-black.jpg{% else %}{{ site.url }}/assets/uploads/op-generic-cover.jpg{% endif %}" />

  <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl_root }}">
  <link rel="icon" href="{{ site.baseurl_root }}/favicon.gif" type="image/gif" >
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
