<svg class="home-logo visible" id="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.3 117.1">
  <path class="svg-fill-light" d="M130.1 60.9c11.1 1.7 15.6-5.6 17.4-15.3 0.9-4.7 1.6-10.2-0.1-15 -3.5-10-10.2-16.1-22.7-7.8 -1 8.4-3.8 37.5-3.9 38.4 0.6 6.6 3.4 26.7 3.4 26.7 0 4.9 1.4 8.4 2.1 10.4 0.3 1 1.7 1.8 4.3 2.4 2.6 0.6 4.5 2 5.8 2 0.3 0 0.5 0.7 0.5 2.1 0 0.9-0.1 1.6-0.3 2.1 -9.5-0.5-14.5-1.8-17.3-1.8 -2.3 0-6 0.1-8.9 0.2 -2.9 0.1-5.2 0.2-6.9 0.3l-2.6 0.2c-0.3-0.3-0.4-1.1-0.4-2.2 0-1.3 0.1-2 0.4-2 1.1 0 2.8-0.3 5-0.8 2.2-0.5 3.5-1.2 3.8-1.9 0.5-1.5-0.3-5.2-0.3-11.1 0 0-2.9-17.3-3.3-23.7 -0.4-11.6 2-21.2 3.3-32.8l0.4-4.3c0.3-4.6 0.3-8-0.1-10.1 -0.2-0.7-1.4-1.4-3.5-2.3 -2.1-0.8-3.7-1.3-4.6-1.4 -0.3 0-0.4-0.6-0.4-1.9 0.1-1.2 0.3-1.9 0.6-2.2 8.5 0.8 13.9 1.2 16.2 1.4 11.6 1.3 16.4 3.6 16.4 3.6 13 6.7 28.9 20.5 28.9 28.6 -0.2 2.5-0.5 4.1-2.1 7.4 -9.4 14-20.9 19.1-34.8 13.9 -2.2-0.9-2.6-1.2-3.1-2.3 -0.1-0.2-0.2-0.6-0.2-1.3 0-0.7 0.1-1.3 0.3-1.8 0.2-0.5 0.4-0.8 0.5-0.8C125.9 59.2 127.4 60.4 130.1 60.9z"/>
  <path class="svg-fill-light" d="M14.7 55.8c-4.5-11.6 4-23.3 12-32.2 8-8.9 17.5-13.4 28.7-13.4 11.2 0 40.2 33 40.8 45.5 1 20.9-3.9 23.4-12 32.1 -6.3 6.8-17.6 13.3-28.8 13.3C39.4 101.2 29.7 94.8 14.7 55.8zM53.5 17.7c-6.6 2.6-11.3 4.3-16.1 10.6 -4.7 6.2-8.8 11.3-8.8 21 0 6.5 1.7 13 3.4 18.9 1.7 5.9 5.6 14.5 9 19.5 3.3 4.9 2.2 9.3 14.8 9.3 11.7 0 16.9-7.6 20.4-14.7 3.7-7.5 7.7-11.5 7.6-20.2 -0.1-6.7-2.5-15.5-4.1-21.3 -1.6-5.9-4.2-13.4-8.6-17.1C60.4 14.4 60.4 15 53.5 17.7z"/>
</svg>

<svg class="home-logo" id="2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.3 117.1">
  <path class="svg-fill-light" d="M128.3 77.9c0.1 5.3-1.9 15-1.2 17.2 0.3 1.1 0.6 1.9 3.3 2.5 2.6 0.6 4.6 0.9 5.8 0.8 0.3 0 0.5 0.7 0.6 2.3 0 1 0 1.7-0.2 2.3 -9.5-0.3-15.3-1.4-18.1-1.6 -2.3-0.2-13.3 2.1-15 2.3l-2.6 0.3c-0.3-0.4-0.4-1.1-0.5-2.4 0-1.4 0.1-2.1 0.3-2.1 1.1 0 2.8-0.4 5-1 2.2-0.6 3.4-1.4 3.8-2.2 0.5-1.6 4-7.1 3.8-14.8l-4.8-47.8c-0.4-5.1-0.3-12.1-2.6-12.6 -2.3-0.6-4.7-0.9-5.8-0.9 -0.3 0-0.6-0.6-0.7-2 -0.1-1.3-0.1-2.5 0.3-2.4 5.7 0.9 14-0.7 14.9-0.9 2.9-0.8 14.8-1.6 17.4-1.8 2.6-0.2 5.2-0.2 7.7 0.1 2.6 0.3 5.2 1 7.8 2 2.6 1 5 2.4 7.1 4.1 2.1 1.7 3.8 3.9 5.3 6.6 1.5 2.7 1.9 3.8 2.3 7.2 1 8.1-8 16-19.5 23.7 -3.6 2.4-7.4 3.3-12.2 3.4 -1.5 0-1.8-0.4-2.5-1.3 -0.2-0.2-0.4-0.6-0.6-1.3 -0.2-0.7-0.3-1.4-0.2-2 0-0.6 0.1-0.9 0.3-1 2 0.7 4.5 0.9 7.3 0.8 13.9-0.5 12.4-13 12-17.3 -0.5-5.9-2-10.6-4.5-13.8 -2.6-3.3-6.3-4.7-11.1-4.4 -3.6 0.3-6.1 0.8-7.4 1.5 -1 0.6-1.2 5.3-0.5 14L128.3 77.9z"/>
  <path class="svg-fill-light" d="M90.8 31c-6.4-9.7-38.4-26.7-50.1-13.1 -11.2 11.5-20.5 31.7-24.2 46 -3.7 14.2 3.6 26.2 14.1 36 1.7 1.6 4.4 3.3 8.6 3.2 29.9-1.5 30.8-6.8 37-11.3C82 87.7 94.8 75 95.4 70.5 97.2 56.6 94.6 36.7 90.8 31zM78.6 48.8c0 3.6 4.6 23.7-0.6 29.4 -0.2 0.2-7 14.4-22.2 20.9 -11.8 3.2-12.2-0.6-15.6-6.3 -14.7-25.1-8-44.9 1.4-67.1 3.5-7.4 2.8-13 17.6-8.6C76.6 24.2 78.7 35.8 78.6 48.8z"/>
</svg>

<svg class="home-logo " id="3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.3 117.1">
  <path class="svg-fill-light" d="M120.1 13.6c1.3-0.5 5.4-0.4 8.7-0.2 12.4 0.9 36.8 24.7 36.3 29.1 -0.3 2.7 0.2 2.5-1.9 6.4 -2.1 3.9-5.3 7.2-9.6 9.9 -4.3 2.7-9.1 4.1-14.4 4.1 -1.8 0-3.6-0.3-5.4-1s-3.1-1.4-3.8-2.4c-0.2-0.2-0.3-0.6-0.5-1.3 -0.1-0.7-0.2-1.3-0.1-1.9 0.1-0.6 0.2-0.9 0.4-0.9 2 0.9 4.4 1.3 7.3 1.3 4.1 0 7.4-1.7 9.8-5.1 2.4-3.4 3.6-7.7 3.6-12.9 0-5.8-1.2-10.4-3.5-13.7s-5.9-5.1-10.8-5.1c-3.6 0-6.1 0.3-7.5 0.9 -1 0.5-1.6 5-1.6 13.5v46.3c0 5.2 0.3 8.9 1 11 0.3 1 1.7 1.9 4.3 2.5 2.6 0.6 4.6 1 5.8 1 0.3 0 0.5 0.7 0.5 2.2 0 1-0.1 1.7-0.3 2.2 -9.5-0.5-12.6-0.7-15.4-0.7 -2.3 0-14.8 4.1-20.1 3.8l-2.6 0.3c-0.3-0.3-0.4-1.1-0.4-2.3 0-1.4 0.1-2.1 0.4-2.1 1.1 0 2.8-0.3 5-0.8s3.4-1.3 3.8-2c2.4-4.1 1.7-23 1.7-29.3l4.7-31.5c0-4.9-0.3-6.6-0.5-8.8 -0.2-3.1-8-4.7-9.1-5 -0.3-0.1-0.5-0.1-0.5-0.8 -0.1-1.3 0.1-2.2 0.5-2.3C113.6 15.3 116.9 14.9 120.1 13.6z"/>
  <path class="svg-fill-light" d="M83.3 23.4C68.1 8.5 49.5 6.7 34.2 19.7c-21.3 18-31.3 55.3 0.3 76 19.3 12.7 36.4-2.7 47.2-12.6 5.4-5.1 11-24.3 12.4-33C94.9 38.8 95.3 35 83.3 23.4zM81.5 55.6c-1 4.2-6.1 20.5-7.5 25.7 -3.5 13-19.1 21.2-32.7 8.6C32.2 81.5 28.2 71.8 27.7 59c-0.5-11.2 7.4-24.9 10.2-35 2.3-8.6 15.2-13 26.3-3C77.7 33.2 85.3 39.6 81.5 55.6z"/>
</svg>

<svg class="home-logo" id="4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.3 117.1">
  <path class="svg-fill-light" d="M25.3 98.3c-8.6-8-11.4-14.7-12.2-26.8 -0.7-12.1 2-33.9 9.6-43 7.6-9.1 13.8-11.5 25.2-12.2 11.4-0.7 42.9 19.4 43.6 31.5 0.7 12.1-2.1 32.4-9.7 41.5 -7.6 9-16.6 11.1-28.5 14.6C42.4 107.2 33.9 106.4 25.3 98.3zM47.9 18.5c-7.4 0.5-11.2 6.1-14.7 13.1 -3.5 7-4.3 26.5-3.7 36.1 0.4 6.5 0.5 9.2 2.7 14.9 2.1 5.8 3.2 7.9 6.5 12.9 4.7 7.1 6.4 8.3 17.1 5.1 12.4-3.7 12-7.5 15.6-14.6 3.6-7.1 8.4-16.4 7.9-25.9 -0.4-6.6-5.1-12.9-7.2-18.6 -2.1-5.7-2.4-7.8-7.6-14.3C60.6 22.6 54 18.1 47.9 18.5z"/>
  <path class="svg-fill-light" d="M121.3 17.5c2.5 0.2 5.3-0.6 8.5-0.5 3.3 0.1 4 0 6.6 0.2 2.6 0.2 5.1 0.6 7.7 1.2 2.5 0.7 5 1.7 7.5 3.1 2.5 1.4 8.9 6.1 11.3 8 4.7 3.8 9.5 6.4 9.3 9.9 -0.3 4.2-1.6 8.3-3.9 12.2 -2.4 3.9-5.8 7.2-10.2 9.7 -4.4 2.6-9.3 3.7-14.7 3.4 -1.8-0.1-3.6-0.6-5.4-1.3 -1.8-0.8-3-1.7-3.6-2.7 -0.2-0.2-0.3-0.6-0.4-1.4 -0.1-0.7-0.1-1.4 0.1-2 0.1-0.6 0.3-0.9 0.4-0.9 1.9 1 4.3 1.6 7.2 1.8 4.1 0.3 7.5-1.3 10.2-4.7 2.6-3.4 4.1-7.8 4.4-13.2 0.4-6-1.8-12.1-5.8-15.1 -3.3-2.5-11.1-2.7-15.8-2.1 -3.6 0.5-3.8 1.2-5.3 1.7 -1.1 0.5-1.3 4.3-0.7 12.7l1.5 30.1c-0.3 5.4-3.6 21-3.1 23.3 0.2 1.1 1.6 2.1 4.2 2.9 2.6 0.8 4.5 1.3 5.7 1.4 0.3 0 0.5 0.8 0.4 2.3 -0.1 1-0.2 1.7-0.4 2.3 -9.5-1.1-15.8-3.2-17.6-3.2L102.5 95c-0.2-0.4-0.3-1.2-0.2-2.5 0.1-1.4 0.3-2.2 0.5-2.1 1.1 0.1 2.8-0.1 5-0.6 2.2-0.4 3.5-1.1 3.9-1.9 0.6-1.6 3.3-15 3.7-21.6l0.9-31.3c-0.2-5-0.3-7.8-2-9.6 -1.1-1.2-2.6-2.9-5.4-3.1 -2.4-0.2-4-0.1-5-0.2 -0.3 0-0.5-0.7-0.4-2.1 0.1-1.3 0.2-2.4 0.7-2.4C112 17.1 118.9 17.4 121.3 17.5z"/>
</svg>

<svg class="home-logo" id="5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.3 117.1">
  <path class="svg-fill-light" d="M122.5 19.9c2.7-0.4 17.2-3.6 19.8-3.9 6.4-1 10.4-2.1 15.4 0.1 2.6 1.1 4.8 2.7 6.7 4.5 1.9 1.8 3.5 4 4.8 6.8 1.3 2.8 1.4 5.1 1.4 8.3 -0.1 4.1-1.7 6.6-3.8 10.5 -2.1 3.9-5.3 6.1-9.6 8.8 -4.3 2.7-9.1 4.1-14.4 4.1 -1.8 0-3.6-0.3-5.4-1 -1.8-0.6-3.1-1.4-3.8-2.4 -0.2-0.2-0.3-0.6-0.5-1.3 -0.1-0.7-0.2-1.3-0.1-1.9 0.1-0.6 0.2-0.9 0.4-0.9 2 0.9 4.4 1.3 7.3 1.3 4.1 0 7.4-1.7 9.8-5.1 2.4-3.4 4.8-7.5 5-12.6 0.2-5.8 0-7.6-2.1-11.1 -4-6.6-6.1-6.6-11.7-5.2 -4.2 1.1-4.8 0.7-7.3 3.3 -0.8 0.8-1.5 3.1-2.5 11.6l-4.5 30.2c-0.5 3.5 0.8 24.9 2.9 27.6 0.7 0.8 1.7 1.9 4.3 2.5 2.6 0.6 4.6 1 5.8 1 0.3 0 0.5 0.7 0.5 2.2 0 1-0.1 1.7-0.3 2.2 -9.5-0.5-14.1 0.4-17.3 0.7 -2.3 0.2-12.7 2.7-14.5 2.8l-2.6 0.3c-0.3-0.3-0.4-1.1-0.4-2.3 0-1.4 0.1-2.1 0.4-2.1 1.1 0 2.8-0.3 5-0.8 2.2-0.6 3.5-1.2 3.8-2 0.5-1.6-2.6-23.2-2.6-29.5l4.5-32.1c0.8-5.2 0.9-4.8 0.8-7 0-0.7-0.5-1.6-1.8-1.1 -1.7 0.6-4.2 2.2-5.2 2.2 -0.3 0-0.5-0.6-0.5-1.9 0-1.3 0.1-2.2 0.5-2.3C116.5 21.5 117.3 20.7 122.5 19.9z"/>
  <path class="svg-fill-light" d="M81.3 30.6c-15.2-14.8-38.3-20-53.6-7.1 -8.6 7.3-35.7 45 11.5 76 19.3 12.7 28.6 6.1 46.4-8.6 2.4-2.6-1-7.5 6-22.3C104.8 46.9 93.3 42.3 81.3 30.6zM81.4 67.1c-2.6 4.8-7.9 16.3-9.3 21.5 -3.5 13-11.7 15.4-22.5 12 -7.4-2.3-9.4-3.2-15.4-10.2 -7.5-12.3-9.5-58.4-1.3-66.1 3.2-3 10.9-10.7 29.4 4C76.4 39.6 92 47.3 81.4 67.1z"/>
</svg>

<svg class="home-logo" id="6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.3 117.1">
  <path class="svg-fill-light" d="M74.7 18.6c-9.2-6.4-12.1-9.8-24.2-8.8 -12.1 1-22.1 5.5-30.2 13.3 -8.1 7.9-3.2 14.9-2.4 24.9 0 13.6-0.3 27.8 8.3 37.4 8.6 9.6 19 14.4 31.1 14.4 12.1 0 14.1-4.8 22.8-14.4 8.7-9.6 13-21.3 13-34.9C93.1 36.9 84.3 26.3 74.7 18.6zM72.5 81.1c-4.3 7.7-9.4 16.1-17.1 16.1 -6.3 0-12.7-4.6-16.5-12 -3.1-5.9-1.8-5-3.7-11.6 -1.9-6.6-1.4-18.9-3.2-28.9 -0.6-7.9-5.6-16.5-1.9-22.5 3.7-6 7.9-8.5 15.8-9.2 6.5-0.5 6.4 0.9 11.2 4 4.7 3.1 10.1 8.6 13.4 12.2 5.1 7 8.6 13.7 9.2 16.3C82.3 55.7 76.7 73.3 72.5 81.1z"/>
  <path class="svg-fill-light" d="M105.7 79l6.7-30.3c0.6-4.9-0.6-17.5-0.8-19.7 -0.2-0.7-1.4-1.6-3.6-2.6 -2.2-1-3.8-1.5-4.8-1.7 -0.3 0-0.4-0.7-0.3-2 0.1-1.3 0.4-2 0.8-2.3 9 1.3 14.7 2.1 17.1 2.4 2.5 0.3 5.4 0.6 8.6 0.8 3.3 0.2 6.2 0.5 8.8 0.8 5.9 0.7 27.4 28.4 23.2 33.9 -2.7 3.5-6.1 6.5-10.7 8.7 -4.6 2.2-9.5 3-14.8 2.4 -1.8-0.2-3.6-0.7-5.3-1.6 -1.7-0.9-2.9-1.8-3.5-2.8 -0.2-0.2-0.3-0.6-0.3-1.3 0-0.7 0-1.3 0.2-1.9 0.2-0.6 0.3-0.9 0.5-0.9 1.9 1.1 4.2 1.8 7.1 2.1 4.1 0.5 7.6-0.8 10.4-4 2.8-3.1 2.6-2.8 3.2-8 0.7-5.7 0-10.4-1.9-14 -1.9-3.6-5.3-5.7-10.1-6.3 -3.6-0.4-6.1-0.4-7.6 0 -1.1 0.4 0.6 17.3-1.8 22.3l-6.4 26c-0.9 5.1-1.4 9.8-0.5 11.8 0.4 1 4.2 3.4 6.9 3.8 2.7 0.4 4.6 0.5 5.8 0.4 0.3 0 0.6 0.7 0.7 2.1 0.1 0.9 0.1 1.7-0.1 2.2 -9.5 0.4-15.6 0.7-18.4 0.9 -2.3 0.2-4.9 0.5-7.8 0.9 -2.9 0.4-5.2 0.7-6.9 1l-2.6 0.5c-0.3-0.3-0.5-1.1-0.6-2.3 -0.1-1.4-0.1-2.1 0.2-2.1 1.1-0.1 2.7-0.5 4.9-1.3 2.1-0.8 3.3-1.5 3.6-2.4C106.2 93.5 105.2 85.6 105.7 79z"/>
</svg>
