
{% comment %}

Usage:
  {% responsive_image path: assets/image.jpg alt: "A description of the image" %}

{% endcomment %}

<picture class="{{picture_class}}">
  <source srcset="/{{ resized.first.path }}">
  <img src="/{{ path }}" class="{{ class }}">
</picture>