
{% comment %}

Usage:
  {% responsive_image path: assets/image.jpg alt: "A description of the image" %}

{% endcomment %}

<picture class="{{picture_class}}">
  {% for i in resized %}
      <source media="(max-width: {{ i.width | plus: 600 }}px)" srcset="/{{ i.path }}">
  {% endfor %}
  <img src="/{{ path }}" class="{{ class }}">
</picture>