@font-face {
  font-family: 'snap-it';
  src: url('fonts/snap-it-mono-1.6.woff2') format('woff2'),
       url('fonts/snap-it-mono-1.6.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$base-font-size: 26px;
$base-line-height: 1.35;

$mobile-font-size: 20px;
$mobile-line-height: 1.1;

$spacing-unit: 20px;

$laptop: 1400px;
$tablet: 1080px;
$phone: 720px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import "snap-it-theme/resets.scss",
        "snap-it-theme/layout.scss";



.desktop {
  display: flex;
  @include media-query($phone) {
    display: none;
  }
}

.mobile {
  display: none;
  @include media-query($phone) {
    display: flex;
  }
}

.brdb {border-bottom: solid 2px}
.brdt {border-top: solid 2px}
.brdl {border-left: solid 2px}
.brdr {border-right: solid 2px}

.ital {
  display: block;
  margin-bottom: -1.1em;
  line-height: .8;
  span {
    display: inline-block;
    transform: rotate(15deg);
    // text-transform: uppercase;
    min-width: .62em;
    height: .8em;
  }
}

.italic-letter {
  &.animated {
    animation: italic-animation 1s 1;
    animation-timing-function: steps(12);
  }
}

@keyframes italic-animation {
  0% {
    transform: rotate(15deg);
  }
  0% {
    transform: rotate(375deg);
  }
}



.dark-theme {
  background-color: black;
  color: white;

  a, a:visited {
    color: white;
  }

  .border {
    border-color: white;
  }
  *::selection {
    color: black;
    background: white;
  }
  *::-moz-selection {
    color: black;
    background: white; 
  }

  .glyph-highlight {
    background-color: black;
  }

  .dark-theme-button {
    display: none;
  }
}

.light-theme {
  background-color: white;
  color: black;

  a, a:visited {
    color: black;
  }

  .border {
    border-color: black;
  }

  *::selection {
    color: white;
    background: black; /* WebKit/Blink Browsers */
  }
  *::-moz-selection {
    color: white;
    background: black; /* Gecko Browsers */
  }

  .inverted-image {
    filter: invert(1);
  }

  .glyph-highlight {
    background-color: white;
  }

  .light-theme-button {
    display: none;
  }
}

.snap-it-specimen-container {
  min-height: 100vh;
  padding-bottom: 120px;
}

.content-wrapper {
  width: 100%;
  padding: 0 3%;
}









.header {
  border: solid 2px;
  position: relative;
  z-index: 1;
}

.header-divider {
  width: 100%;
  border-bottom: solid 2px;
}

.header-section {
  padding: $spacing-unit;
}

.header-button {
  padding: $spacing-unit;
  // border-left: solid 2px;
  cursor: pointer;

  img {
    height: 30px;
  }

  &:hover {
    background-color: white;
    color: black;

    img {
      filter: invert(1);
    }
  }
}

.header-logo {
  padding: $spacing-unit/2;
}

.op-logo {
  height: 100%;
  display: none;

  &.visible {
    display: block;
  }
}

.theme-button {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  padding: $spacing-unit/2;
  cursor: pointer;
  
  img {
    height: 50px;
    width: 50px;
  }

  &.dark-theme-button {
    background-color: black;
    border-left: solid 2px;
  }
  &.light-theme-button {
    background-color: white;
  }
}












.hero-large-font {
  font-size: 25.5vw;
  line-height: .9;
  padding-bottom: $spacing-unit*3;

  @media screen and (max-width: $phone) {
    padding-bottom: $spacing-unit*1;
  }
}

.hero-small-font {
  font-size: 10.5vw;
  line-height: 1.2;
}

.subtitle {
  font-size: 52px;

  @include media-query($phone) {
    font-size: 28px;
    word-break: break-word;
  }
}



.introduction {
  border: dashed 2px;
}

.intro-text {
  padding: $spacing-unit*4;

  @include media-query($phone) {
    padding: $spacing-unit*2;
  }
}





.snap-wire {
  img {
    width: 100%;
  }
}




.terminals-wrapper {
  height: 700px;
}

.terminals {
  img {
    height: 100%;
    max-width: 100%;
  }

}


.inktraps-wrapper {
  border: solid 2px;

  img {
    width: 100%;
  }
}

.inktrap-text {
  border-left: solid 2px;
  border-right: solid 2px;
  padding: $spacing-unit*2;

  @include media-query($phone) {
    border-left: none;
    border-right: none;
    border-top: solid 2px;
    border-bottom: solid 2px;
  }
}





.italic-section {
  font-size: 8.3vw;
}


.code-language-name {
  border-bottom: solid 2px;
}

pre {
  border: dashed 2px;
  padding: $spacing-unit;
  overflow-x: scroll;
}


.glyph-list-hidden {
  display: none;
}
.glyph-output {
  font-size: 32px;

  .glyph-wrapper {
    position: relative;
    width: 6.25%;
    padding-top: 6.25%;
    text-align: center;
    line-height: -20px;
    border: dashed 2px transparent;
    z-index: 0;

    @include media-query($phone) {
      width: 20%;
      padding-top: 20%;
    }

    p {
      // display: block;
      height: 100%;
      margin-top: -52%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .glyph-highlight {
      position: absolute;
      width: 300%;
      height: 300%;
      bottom: 120%;
      left: -100%;
      border: solid 2px;
      display: none;
      font-size: 14vw;
      line-height: 16vw;
      text-align: center;
      pointer-events: none;
    }

    &:nth-child(16n+1) {
      .glyph-highlight {
        left: 0;
      }
    }

    &:nth-child(16n+16) {
      .glyph-highlight {
        left: -200%;
      }
    }

    &:hover {
      border: dashed 2px;
      z-index: 1;

      .glyph-highlight {
        display: block;

        @include media-query($phone) {
          display: none;
        }
      }
    }
  }
}


.test-dials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  max-width: 1000px;
  margin-top: 10px;
  margin-bottom: 30px;

  @include media-query($phone) {
    flex-direction: column;
    height: auto;
  }

  div {
    max-width: 31%;

    @include media-query($phone) {
      width: 100%;
      max-width: none;
      margin-top: $spacing-unit;
    }
  }
}

.test-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed 2px;
  font-size: 80px;
  width: 100%;
  min-height: 800px;
  height: auto;

  @include media-query($phone) {
    min-height: 300px;
    font-size: 40px;
  }
}

.editable-section {
  display: inline-block;
  max-width: 100%;
  text-align: center;
  text-rendering: optimizeLegibility;
  moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
  webkit-font-smoothing: antialiased;
  font-weight: normal !important;
  overflow: hidden;

  &:focus {
    outline: none;
  }
}




//range inputs

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}


// Thumb
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  cursor: pointer;
  margin-top: -7px;
}
input[type=range]::-moz-range-thumb {
  border: 2px solid ;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  border: 2px solid;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  cursor: pointer;
}

.dark-theme {
  input[type=range]::-webkit-slider-thumb {
    border: 2px solid white;
    background: black;
    
  }
  input[type=range]::-moz-range-thumb {
    border: 2px solid white;
    background: black;
    
  }
  input[type=range]::-ms-thumb {
    border: 2px solid white;
    background: black;
  }
}

.light-theme {
  input[type=range]::-webkit-slider-thumb {
    border: 2px solid black;
    background: white;
  }
  input[type=range]::-moz-range-thumb {
    border: 2px solid black;
    background: white;
  }
  input[type=range]::-ms-thumb {
    border: 2px solid black;
    background: white;
  }
}



input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
}

.dark-theme {
  input[type=range]::-webkit-slider-runnable-track {
    background-color: white;
  }
  input[type=range]::-moz-range-track {
    background-color: white;
  }
  input[type=range]::-ms-track {
    background-color: white;
  }
}
.light-theme {
  input[type=range]::-webkit-slider-runnable-track {
    background-color: black;
  }
  input[type=range]::-moz-range-track {
    background-color: black;
  }
  input[type=range]::-ms-track {
    background-color: black;
  }
}