<div class="bali-landing-container">
  <img class="bali-logo" src="{{ site.baseurl }}assets/images/bali-logo-landing.jpg" alt="Objet Papier 006">
  <img class="bali-illu" src="{{ site.baseurl }}assets/images/bali-illu-landing.jpg" alt="Illustration Mamzelle Heing Bali">
  <img class="bali-title" src="{{ site.baseurl }}assets/images/bali-title-landing.jpg" alt="Bali, Feuilles raportées - Mamzelle Heing">
  <a href="{{ site.baseurl }}home">
    <img class="bali-enter" src="{{ site.baseurl }}assets/images/bali-enter-landing.jpg" alt="Entrer sur le site">
  </a>
</div>