<div class="landing-generic">
  <span></span>
  {% include logo-anim-small.html %}
  <div class="landing-link">
    <a href="{{site.baseurl}}/home/">Français</a> | <a href="{{site.baseurl}}/en/home/">English</a>
  </div>
</div>

<script src="{{site.baseurl}}/assets/js/landing.js"></script>