<div class="landing-newspaper-forever">
  <div class="landing-content-desktop">
    <div class="title">
      <img src="{{site.baseurl_root}}/assets/images/nf-landing-type.svg">
    </div>
    <div class="illu">
      <img class="illu-bg" src="{{site.baseurl_root}}/assets/images/nf-landing-illu.png">
      <canvas id='canvas'></canvas>
      <img class="illu-front" src="{{site.baseurl_root}}/assets/images/nf-landing-ellipse.svg">
    </div>
  </div>

  <div class="landing-content-mobile">
    <div class="title">
      <img src="{{site.baseurl_root}}/assets/images/nf-landing-type.svg">
    </div>
    <img class="illu-mobile" src="{{site.baseurl_root}}/assets/images/nf-landing-complete.svg">
    <div></div>
  </div>

  <div class="nf-enter-link">
    <a href="{{site.baseurl}}/home/">Français</a> | <a href="{{site.baseurl}}/en/home/">English</a>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  var canvas = document.getElementById('canvas');
  var ctx = canvas.getContext('2d');
  var canvasx = $(canvas).offset().left;
  var canvasy = $(canvas).offset().top;
  var last_mousex = last_mousey = 0;
  var mousex = mousey = 0;

  function ResizeCanvas(e) {
      if (window.innerWidth<1250){
        canvas.width = 400;
        canvas.height = 314;
        ctx.fillStyle = '#ffffff'
        ctx.fillRect(0, 0, 400, 314);    
      } else {
        canvas.width = 668;
        canvas.height = 525;  
        ctx.fillStyle = '#ffffff'
        ctx.fillRect(0, 0, 668, 525);  
      }
  }
  window.onload = ResizeCanvas;
  window.onresize = ResizeCanvas;


  //prepare canvas
  

  // ctx.strokeStyle = 'rgba(0, 0, 0, 1)';
  

  canvas.onmousemove = function(e) {

    mousex = parseInt(e.clientX-canvasx);
    mousey = parseInt(e.clientY-canvasy);
    ctx.beginPath();
    ctx.globalCompositeOperation = 'destination-out';
    ctx.lineWidth = 30;
    ctx.moveTo(last_mousex,last_mousey);
    ctx.lineTo(mousex,mousey);
    ctx.lineJoin = ctx.lineCap = 'round';
    ctx.stroke();
    last_mousex = mousex;
    last_mousey = mousey;
}

</script>