<div class="landing-opexp">
  <div class="opexp-landing-link">
    <a href="{{site.baseurl}}/labo/">Visiter le labo</a> | <a href="{{site.baseurl}}/en/labo/">Visit the lab</a>
  </div>
  <div class="labo-landing-anim" onclick="window.location = '{{ site.baseurl }}/labo'">
    <span class="labo-landing-text">
      Labo
    </span>
  </div>
  <div class="opexp-landing-link">
    <a href="{{site.baseurl}}/home/">Français</a> | <a href="{{site.baseurl}}/en/home/">English</a>
  </div>
</div>

<script>

  function randomRotate() {
    const typeContainer = document.querySelector(".labo-landing-anim")
    const type = document.querySelector(".labo-landing-text")
    const wrapperHeight = typeContainer.offsetHeight;
    const wrapperWidth = typeContainer.offsetWidth;
    const typeHeight = type.offsetHeight;
    const typeWidth = type.offsetWidth;

    function getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max));
    }
    function getRandomArbitrary(min, max) {
      return Math.floor(Math.random() * (max - min) + min);
    }

    const maxRandomX = wrapperWidth - typeWidth;
    const maxRandomY = wrapperHeight - typeHeight;
    const randomX = getRandomArbitrary(150, maxRandomX)
    const randomY = getRandomArbitrary(0, maxRandomY)
    const randomRotate = getRandomArbitrary(-50, 50)

    console.log("coucou", randomX)

    type.style.transform = "rotate(" + randomRotate + "deg) translate(" + randomX + "px, " + randomY + "px)";
  } 

  document.addEventListener("DOMContentLoaded", function() {
    randomRotate();
    
    var time = 1;

    var interval = setInterval(function() { 
      randomRotate();
      time++;
    }, 750);    
  });

</script>