<div class="perf-landing-wrapper">
  <div class="blue-bg"></div>
  <div class="content">
    <div class="header">
      <a href="{{site.baseurl}}/en/op-release/op009-performance.html">Available</a><span>  |  </span><br><a href="https://performance.objetpapier.fr">Visit the performance website</a>
    </div>
    <div class="title">
      <span class="narrow">BODY</span><span class="perf"><span class="variable" id="0">P</span><span class="variable" id="1">E</span><span class="variable" id="2">R</span><span class="variable" id="3">F</span><span class="variable" id="4">O</span><span class="variable" id="5">R</span><span class="variable" id="6">M</span><span class="variable" id="7">A</span><span class="variable"  id="8">N</span><span class="variable" id="9">C</span><span class="variable" id="10">E</span></span><span class="narrow">MOTOR</span>
    </div>
    <div class="landing-link">
      <a href="{{site.baseurl}}/home/">Français</a> | <a href="{{site.baseurl}}/en/home/">English</a>
    </div>
  </div>
</div>


<script src="{{site.baseurl}}/assets/js/performance-landing.js"></script>