<div class="landing-container">
  <div class="print-it-landing-text">
    Snap-it, la typographie conçue pour OP007 Print-it<br/>
    <a href="{{site.baseurl}}/snap-it/" target="_blank">Visiter le site spécimen</a> | 
    <a href="https://gitlab.com/Alune/snap-it-mono-font" target="_blank">Télécharger la Snap-it</a> |
    <a href="{{site.baseurl}}/print-it/" target="_blank">Site Print-it</a>
  </div>
  
  <div class="landing-snap-it">
    <img class="snap-it-cover" src="{{site.baseurl_root}}/assets/images/snap-it-cover.svg" alt="snap-it font">
  </div>
  
  <a class="enter-link white" href="{{ site.baseurl }}/home">Entrer</a>
</div>