<div class="project-header-video">
  <a class="back-home-link" href="{{ site.baseurl }}/home/">
    {% include logo-animation-white.html %}
  </a>
</div>

<div class="landing-video">
  <div class="video-container">
    <div class='embed-container'>
      <iframe src='https://player.vimeo.com/video/235078540?color=c40018&title=0&byline=0&portrait=0'
              frameborder='0'
              webkitAllowFullScreen
              mozallowfullscreen
              allowFullScreen>
      </iframe>
    </div>
  </div>
  <a href="{{ site.baseurl }}/home/">Entrer</a>
</div>
