<div class="click-simu"></div>

<div class="skit-landing">
  <video src="{{ site.baseurl }}/skit/skit-videos/100_0590.mp4" autoplay muted loop></video>
  <div class="landing-description">
    <span>OP005 SKIT - OUT NOW</span>
    <a href="{{ site.baseurl }}/op-release/op005-skit.html">Page OP005 SKIT</a> -
    <a href="{{ site.baseurl }}/skit/">EXPERIENCE TOTALE</a><br>
    <a href="{{ site.baseurl }}/home/">Entrer</a>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">

  $.fn.simulateClick = function() {
    return this.each(function() {
        if('createEvent' in document) {
            var doc = this.ownerDocument,
                evt = doc.createEvent('MouseEvents');
            evt.initMouseEvent('click', true, true, doc.defaultView, 1, 0, 0, 0, 0, false, false, false, false, 0, null);
            this.dispatchEvent(evt);
        } else {
            this.click(); // IE
        }
    });
  }

  $('.click-simu').simulateClick();


  $("video").each(function(){

    $(this).prop('muted', true);

    $(this).on("mouseenter",function(){
      $(this).prop('muted', false);
    });

    $(this).on("mouseout",function(){
      $(this).prop('muted', true);
    });
  })
</script>