---
layout: page-generic
---

<div class="refs-container white-text">
  <div class="left-column">
    {% for section in page.left-column %}
      <div class="section">
        <div class="title">
          {{ section.title }}
        </div>
        <div class="content">
          {{ section.content | markdownify }}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="right-column">
    {% for section in page.right-column %}
      <div class="section">
        <div class="title">
          {{ section.title }}
        </div>
        <div class="content">
          {{ section.content | markdownify }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>