---
layout: page-generic
---

<div class="contributors-content">
  
  {% if page.id == "contributions" %}
  {% for contribution in page.contributions-list %}
    <div class="contributor-container">
      <h2>
        {% if contribution.link.size > 2 %}
          <a target="_blank" href="{{ contribution.link }}">
            {{ contribution.title }} <img src="{{site.baseurl_root}}/assets/images/arrow-link-white.svg" alt="Arrow top left">
          </a>
        {% else %}
          {{ contribution.title }}
        {% endif %}
      </h2>
      <h3>
        {% if site.lang == "en" %}
          {{ contribution.role-en }}
        {% elsif site.lang == "fr" %}
          {{ contribution.role-fr }}
        {% endif %}
      </h3>
    </div>
  {% endfor %}
  {% endif %}
</div>
