<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="dark-bg">

    {{ content }}
    {% include js.html %}

  </body>

</html>
