---
layout: page-generic
---

<div class="opexp-list-container">
  {% assign ordered_exp = site.experiments | sort: "number" %}
  {% for experiment in ordered_exp %}
    <div class="opexp-list-entry">
      <a class="rotate-20" href="{{ site.baseurl }}{{ experiment.url }}">
        
        {% responsive_image_block %}
          path: {{experiment.thumbnail | slice: 1,experiment.thumbnail.size}}
          template: _includes/responsive-image-thumbnail.html
          picture_class: full-width {% if experiment.thumbnail-hover.size > 2 %}opexp-thumbnail-hide-on-hover{% endif %}
        {% endresponsive_image_block %}

        {% if experiment.thumbnail-hover.size > 2 %}
          {% responsive_image_block %}
            path: {{experiment.thumbnail-hover | slice: 1,experiment.thumbnail-hover.size}}
            template: _includes/responsive-image-thumbnail.html
            picture_class: full-width opexp-thumbnail-display-on-hover
          {% endresponsive_image_block %}
        {% endif %}
      </a>
      <div class="opexp-list-data dark-text">
        {% include data/exp-data.html data=experiment display_link=false %}
      </div>
    </div>
  {% endfor %}
</div>