---
layout: default-light
---


<div class="experiment-page-container">

  <div class="experiment-visuals">
  {% if page.video.has-video %}
    <div class="video-container-opexp rotate-20">
      <div class='embed-container'>
        <iframe src='https://player.vimeo.com/video/{{ page.video.video }}?autoplay=1&loop=1?color={{ page.vide.video-color }}&title=0&byline=0&portrait=0'
                frameborder='0'
                webkitAllowFullScreen
                mozallowfullscreen
                allowFullScreen>
        </iframe>
      </div>
    </div>
    <div class="video-container-labo">
      <div class="video-wrapper">
        
      </div>
    </div>
    {% else %}
      <div class="exp-images">
        {% for image in page.images %}
          {% responsive_image_block %}
            path: {{image | slice: 1,image.size}}
            class: random-rotated-img rotate-20 pilled-image check-if-verical-img
            picture_class: centered-pic
          {% endresponsive_image_block %}
        {% endfor %}
      </div>
    {% endif %}
  </div>


  <div class="experiment-data dark-text">
    <div class="exp-info-content">
      {% include data/exp-data.html data=page display_link=true display_nav=true %}
    </div>

    {% assign ordered_exp = site.experiments | sort: "number" %}
    {% for experiment in ordered_exp %}
      {% if experiment.number == page.number %}
        {% assign currIndex = forloop.index0 %}
        {% assign prevIndex = currIndex | minus: 1 %}
        {% assign nextIndex = currIndex | plus: 1 %}
        {% assign articleIndexLength = forloop.length | minus: 1 %}

        <div class="arrow-links">
          <div>
            <a class="opexp-nav prev" 
              href="{% if currIndex == 0 %} 
                      {{ site.experiments.last.url }}
                    {% else %}
                      {{ ordered_exp[prevIndex].url }}              
                    {% endif %}">
              <img src="{{site.baseurl_root}}/assets/images/arrow-link-left.svg" alt="prev">
              <span class="btn-txt prev rotate-20">
                {% if site.lang == "en" %}Previous
                {% elsif site.lang == "fr" %}Précédent
                {% endif %}
              </span>
            </a>
          </div>
    
          <div class="toggle-exp-data">
            infos
          </div>
    
    
          <div>
            <a class="opexp-nav" 
              href="{% if currIndex == articleIndexLength %}
                      {{ site.experiments.first.url }}
                    {% else %}
                      {{ ordered_exp[nextIndex].url }}
                    {% endif %}">
              <img src="{{site.baseurl_root}}/assets/images/arrow-link-right.svg" alt="next">
              <span class="btn-txt next rotate-20">
                {% if site.lang == "en" %}Next
                {% elsif site.lang == "fr" %}Suivant
                {% endif %}
              </span>
            </a>
          </div>
        </div>


      {% endif %}
    {% endfor %}
  </div>
</div>
<script src="{{ site.baseurl_root }}/assets/js/opexp.js"></script>