---
layout: page-generic
---

<div class="two-column-container white-text">
  <div class="left-column">
    {% include data/generic-page-content.html data=page.left-column %}
  </div>
  <div class="right-column">
    {% include data/generic-page-content.html data=page.right-column %}
  </div>
</div>