---
layout: default-dark
---

<div class="home">

  <div class="logo-fixed-cover">
    {% include logo-animation-white.html %}
  </div>

  <div class="baseline">
    {% if site.lang == "en" %}
      Micro-press label
    {% elsif site.lang == "fr" %}
      Label de micro-édition
    {% endif %}
  </div>
  <div class="home-content">
    <div class="content-fake-padding"></div>
    {% assign release-sort = site.op-release | sort: 'number' | reverse %}
    
    {% for release in release-sort %}
      {% if release.draft == false %}
        <div class="release-container">
          <a class="release-link rotate-30" href="{{ site.baseurl }}{{ release.url }}">
            {%- if release.black-cover-image -%}
              <img class="white" src="{{ site.baseurl_root }}{{ release.white-cover-image }}" alt="">
              <img class="black" src="{{ site.baseurl_root }}{{ release.black-cover-image }}" alt="">
            {%- else -%}
                <img class="white" src="{{ site.baseurl_root }}{{ release.white-cover-image }}" alt="">
            {%- endif -%}

            <h1 class="mobile-release-title">
              {% include data/number.html number=release.number %}
            </h1>
          </a>
          <div class="description-background"></div>
          <div class="release-description-container-home">
            <div class="data-display dark-text">
              <h2 class="number">{% include data/number.html number=release.number %}</h2>
              <h3 class="name">{{ release.name }}</h3>
              <h4 class="author release-author">
                {% include data/author.html auteur=release.auteur %}
              </h4>

                  
              {% if site.lang == "en" %}
                {% assign current_lang = release.en %}
              {% elsif site.lang == "fr" %}
                {% assign current_lang = release.fr %}
              {% endif %}
              <table>
                <tr><td>{% t date %}</td><td>{{ release.date-str }}</td></tr>
                <tr><td>{% t format %}</td><td>{{ current_lang.format }}</td></tr>
                <tr><td>{% t pages %}</td><td>{{ current_lang.nb-pages }}</td></tr>
                <tr><td>{% t reliure %}</td><td>{{ current_lang.reliure }}</td></tr>
                <tr><td>{% t impression %}</td><td>{{ current_lang.impression }}</td></tr>
                <tr><td>{% t exemplaires%}</td><td>{{ current_lang.exemplaires }}</td></tr>
                <tr><td>{% t prix %}</td><td>{% include data/price.html price=release.price %}</td>
                </tr>
              </table>  
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

</div>

<!-- <footer class="site-footer">

  <div class="footer-content">
    {% if page.id == "home-page" %}
    <div class="footer-left-column">
      <div class="footer-column-ception">
        {{site.collections[2].title}}
        {% if site.lang == "en" %}
          {{ page.title-en }}<br/><br/>
        {% elsif site.lang == "fr" %}
          {{ page.title-fr }}<br/><br/>
        {% endif %}
        <a href="mailto:{{ page.contact }}">{{ page.contact }}</a><br/><br/>
        <a target="_blank" href="{{ page.facebook }}">Facebook</a><br/>
        <a target="_blank" href="{{ page.instagram }}">Instagram</a><br/><br class="br-death"/>
      </div>
      <div class="footer-column-ception">
        {% if site.lang == "en" %}
          Website design <br/>
          & development: <br/>
        {% elsif site.lang == "fr" %}
          Conception graphique <br/>
          & développement web<br/>
        {% endif %}
        <a target="_blank" href="http://morganebartoli.com/">Morgane Bartoli</a> &<br/>
        <a target="_blank" href="http://alune.fr">Corentin Moussard</a><br/><br/>
        <a class="contributor-link random-rotated-text rotate-30" href="{{ site.baseurl }}/contributions/">
          {% if site.lang == "en" %}
            Friends
          {% elsif site.lang == "fr" %}
            Amis
          {% endif %} 
        </a><br/><br/><br/>
        
      </div>
    </div>

    <div class="footer-right-column">
      {% if site.lang == "en" %}
        {{ page.description-en | markdownify }}<br/><br/>
      {% elsif site.lang == "fr" %}
        {{ page.description-fr | markdownify }}<br/><br/>
      {% endif %}
    </div>
    {% endif %}
  </div>
</footer> -->


<!-- new footer -->

<footer class="site-footer">

  <div class="footer-content">
    {% if page.id == "home-page" %}
      <div class="footer-description">
        {% if site.lang == "en" %}
          {{ page.description-en | markdownify }}
        {% elsif site.lang == "fr" %}
          {{ page.description-fr | markdownify }}
        {% endif %}
      </div>
      
      <div class="footer-links">
        <a class="homepage-footer-link rotate-20 rotate-hover" href="{{site.baseurl}}/contributions/">{% t amis %}</a>
        <a class="homepage-footer-link rotate-20 rotate-hover" href="{{site.baseurl}}/labo/">{% t labo %}</a>
        <a class="homepage-footer-link rotate-20 rotate-hover" href="{{site.baseurl}}/infos/">{% t infos %}</a>
        <a class="homepage-footer-link rotate-20 rotate-hover" href="{{site.baseurl}}/refs/" >{% t refs %}</a>
      </div>    
    {% endif %}
  </div>
</footer>

<script src="{{ site.baseurl_root }}/assets/js/home.js"></script>
