---
layout: "default-dark"
---


<a class="page-title white-text" href="{{site.baseurl}}/home">
  <span class="title rotate-30 rotate-hover">
    {% if site.lang == "en" and page.title-en.size > 2 %} 
      {{page.title-en}}
    {% elsif page.title-fr.size > 2 %}
      {{page.title-fr}}
    {% endif %}
  </span>
  <span class="rotate-30 title-back-button">
    {% if site.lang == "en" %} back
    {% elsif site.lang == "fr" %} retour
    {% endif %}
  </span>
</a>

<div class="page-generic-container">
  {{content}}
</div>