---
layout: default-light
---

{% if page.video.has-video %}
{% include header-video.html %}

    <div class="project-page-content">
      <div class="video-container">
        <div class='embed-container'>
          <iframe src='https://player.vimeo.com/video/{{ page.video.video }}?color={{ page.vide.video-color }}&title=0&byline=0&portrait=0'
                  frameborder='0'
                  webkitAllowFullScreen
                  mozallowfullscreen
                  allowFullScreen>
          </iframe>
        </div>
      </div>
      <div class="project-fake-margin small"></div>
      {% else %}
      {% include header.html %}
      <div class="project-page-content">
    <div class="project-fake-margin"></div>
  {% endif %}

    {% for image in page.images %}
      <img class="project-image rotate-20" src="{{ site.baseurl_root }}{{ image }}">
    {% endfor %}
  </div>

  <div class="project-description-container white-text">
    <div class="project-column-wrapper">
      <div class="data-display white-text project-metadatas">
        <div class="column-ception">
          <h2 class="number">{% include data/number.html number=page.number %}</h2>
          <h3 class="name">{{ page.name }}</h3>
          <h4 class="author release-author">
            {% include data/author.html auteur=page.auteur display_link=true %}
          </h4>
        </div>
        <div class="column-ception relative">
  
          {% if site.lang == "en" %}
            {% assign current_lang = page.en %}
          {% elsif site.lang == "fr" %}
            {% assign current_lang = page.fr %}
          {% endif %}
          <table>
            <tr><td>{% t date %}</td><td>{{ page.date-str }}</td></tr>
            <tr><td>{% t format %}</td><td>{{ current_lang.format }}</td></tr>
            <tr><td>{% t pages %}</td><td>{{ current_lang.nb-pages }}</td></tr>
            <tr><td>{% t reliure %}</td><td>{{ current_lang.reliure }}</td></tr>
            <tr><td>{% t impression %}</td><td>{{ current_lang.impression }}</td></tr>
            <tr><td>{% t exemplaires%}</td><td>{{ current_lang.exemplaires }}</td></tr>
            <tr><td>{% t prix %}</td><td>{% include data/price.html price=page.price display_shipping=true %}</td>
            </tr>
          </table>
  
          {% unless page.price.is-soldout %}
            <a target="_blank" class="buy-link rotate-30 rotate-hover" href="https://paypal.me/RDeshaies/{{ page.price.amount | plus: page.price.shipping }}">
              {% if site.lang == "en" %}
                Buy
              {% elsif site.lang == "fr" %}
                Acheter
              {% endif %}
            </a> 
          {% endunless %}
        </div>
  
      </div>
      <div class="project-page-description">
        {% if site.lang == "en" %}
          {{ page.en.description | markdownify }}
        {% elsif site.lang == "fr" %}
          {{ page.fr.description | markdownify }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script src="{{ site.baseurl_root }}/assets/js/project.js"></script>