<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Snap-it is an open source monospaced font without curves, designed by Morgane Bartoli and Corentin Moussard.">
  <title>Snap-it font specimen</title>
  <link href="{{ "/assets/t-shirts.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet">
</head>
<body class="dark-theme">
  {{content}}
  <script src="{{site.baseurl_root}}/assets/js/t-shirts.js"></script>
</body>
</html>